.App-container {
  text-align: center;
  margin: 10px;
  color:rgb(16, 16, 17);
}

h1 {
  color: #333;
}

.slick-slider {
  width: 50%;
  margin: auto;
  padding: auto;

}

.slick-slide {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.app-box,
.home-box,
.contact-box,
.cal-box,
.enter-box,
.set-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100px;
  background-color:skyblue;
  border: 1px solid #080808;
  border-radius: 3rem;
  margin: 100px;
  padding: 100px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}


.app-box,
.home-box,
.contact-box,
.cal-box,
.enter-box,
.set-box {
  perspective: 1000px;
  opacity: 50px;
}


.app-box:hover,
.home-box:hover,
.contact-box:hover,
.cal-box:hover,
.enter-box:hover,
.set-box:hover {
  transform: scale(1.1);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}

